body {
    width: 800px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    grid-gap: 0px;
}

.smallColumn {
    flex: 30%;
    background-color: lightgray;
    padding-top: 20px;
    border-left: 30px;
    border-left-style: solid;
    border-color: darkslategrey;
}

.largeColumn {
    flex: 68%;
    background-color: #f1f1f1;
    padding-top: 15px;
    padding-bottom: 30px;
}

.contactHeader {    
    font-size: 16px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px; 
}

.contactSection {    
    font-size: 14px;
    text-align: left;
    padding-left: 20px;   
    margin-block-start: 15px;
    margin-block-end: 7px; 
}

.title{    
    
    font-size: 26px;
    text-align: center;  
}

.sectionHeader {    
    font-size: 20px;
    text-align: left;
    text-decoration: underline; 
    padding-left: 20px; 
}

li {
    font-size: 12px;
    margin: 10px 0;
}

article {
    font-size: 12px;
    text-align: left;
    padding-left: 20px; 
    margin-block-start: 7px;
    margin-block-end: 7px;
}

figure {
    display: block;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%;
}

img {
    width: 100%;
    height: 100%
}